@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
a:hover{
  transform: scale(0.95);
}

body{
  background-image: url('../src/images/workEnvironment.jpg');
  background-size: cover;
}


.App {
  background-color: white;
  position: relative;
  right: 0;
  margin: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, 1fr) 1.3fr;
  color: blueviolet;
  width: 210mm;
  height: 297mm;
  border: 1px solid black;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
  grid-column: 1 / 3;
  /* border: 1px solid black; */
}

.summary-container{
  padding: 5px 20px;
  grid-column: 1 / 2;
  /* border: 1px solid black; */
}
.summary-container p{
  font-size: medium;
}

.education-container{
  padding: 5px 20px;
  grid-column: 1 / 2;
  /* border: 1px solid black; */
}

.experience-container{
  padding: 5px 20px;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  /* border: 1px solid black; */
}

.tasks-container{
  padding: 5px 20px;
  grid-column: 1 / 2;
  /* border: 1px solid black; */
}

.skills-container{
  padding: 5px 20px;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  /* border: 1px solid black; */
}

.projects-container{
  padding: 5px 20px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  /* border: 1px solid black; */
}

.courses-container{
  padding: 5px 20px;
  /* border: 1px solid black; */
}

h1, h3{
  color: rgb(52,51,52);
}

h4 {
  color: rgb(122,217,228);
}

.header-container h3 {
  color: rgb(122,217,228);
}

.experience-title{
  color: rgb(52,51,52);
}

.experience-container a, .education-container a {
  color: rgb(122,217,228);
  font-size: medium;
}

p, a{
  font-size: small;
  color: rgb(75,85,88);
}

.contact-data {
  display: flex;
  gap: 5px;
  align-items: center;
}

#profile-img{
  width: 100px;
}

.section-title{
  font-size: medium;
}

span{
  color: rgb(75,85,88);
  font-size: small;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.education-style, .experience-style{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.education-style-icons, .experience-style-icons{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: small;
}

.task-style {
  display: flex;
  gap: 2px;
  align-content: center;
}

.skill-section-title{
  padding-top: 2px;
}

.skill-section-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
}

.project-box, .course-box{
  display: flex;
  gap: 2px;
  align-content: center;
  padding-bottom: 2px;
}